In [1]:
import pandas as pd

In [2]:
df_emp = pd.read_csv("database/emprestimos-20222.csv",sep=";")

In [3]:
df_books = pd.read_csv("database/exemplares-acervo.csv",sep=";")

In [4]:
df_exemplares = pd.read_csv("database/exemplares.csv",sep=";")

# Dataset de emprestimos

In [5]:
df_emp.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,nome_usuario,tipo_vinculo_usuario
0,3029508,2012067870,2022/07/18 11:42:40.696000000,2022/07/01 07:37:33.849000000,2022/07/25 12:55:31.000000000,2.020012e+10,INGRID JUSTINO GOMES,ALUNO DE GRADUAÇÃO
1,3029509,2013114558,2022/07/18 21:12:07.213000000,2022/07/01 07:37:33.993000000,2022/07/25 12:55:15.000000000,2.020012e+10,INGRID JUSTINO GOMES,ALUNO DE GRADUAÇÃO
2,3029510,2012036298,NaN,2022/07/01 07:42:36.166000000,2022/07/06 12:13:58.000000000,2.020001e+10,CAMILA ABDON MENEZES,ALUNO DE GRADUAÇÃO
3,3029511,2012036297,2022/07/17 21:44:15.583000000,2022/07/01 07:43:24.007000000,2022/07/20 09:20:01.000000000,2.018010e+10,REBECA SILVA RIBEIRO CONFESSOR,ALUNO DE GRADUAÇÃO
4,3029512,2018008454,2022/07/18 17:23:24.357000000,2022/07/01 07:50:09.361000000,2022/07/22 09:22:45.000000000,2.020014e+10,BEATRIZ CLAUDINO DA SILVA,ALUNO DE GRADUAÇÃO

In [6]:
df_emp.columns

Index(['id_emprestimo', 'codigo_barras', 'data_renovacao', 'data_emprestimo',
       'data_devolucao', 'matricula_ou_siape', 'nome_usuario',
       'tipo_vinculo_usuario'],
      dtype='object')

In [7]:
df_emp.shape

(36910, 8)

Caso der tempo, analisa a serie de temporal de devolução

In [8]:
col_import = ['codigo_barras', 'nome_usuario', 'tipo_vinculo_usuario','matricula_ou_siape']
df_emp = df_emp[col_import]

In [9]:
df_emp.head()

,codigo_barras,nome_usuario,tipo_vinculo_usuario,matricula_ou_siape
0,2012067870,INGRID JUSTINO GOMES,ALUNO DE GRADUAÇÃO,2.020012e+10
1,2013114558,INGRID JUSTINO GOMES,ALUNO DE GRADUAÇÃO,2.020012e+10
2,2012036298,CAMILA ABDON MENEZES,ALUNO DE GRADUAÇÃO,2.020001e+10
3,2012036297,REBECA SILVA RIBEIRO CONFESSOR,ALUNO DE GRADUAÇÃO,2.018010e+10
4,2018008454,BEATRIZ CLAUDINO DA SILVA,ALUNO DE GRADUAÇÃO,2.020014e+10

# Dataset books

In [10]:
df_books.head()

,registro_sistema,titulo,sub_titulo,assunto,autor,tipo_material,quantidade,ano,edicao,editora,isbn,issn
0,1,Nordeste :,desenvolvimento sem justiça /,Politica social.#$&Região Nordeste (Br)#$&Soci...,Ação Católica Operária.,Livro,1,1967.,NaN,"Secretaria Regional do Nordeste,",NaN,NaN
1,5,Manual de Psicologia /,NaN,Psicologia.,"Adcock, C. J.",Livro,1,1965.,NaN,"Zahar,",NaN,NaN
2,14,Statistical Abstract Of The United States /,NaN,Estatística.#$&Estados Unidos.,Bureau Of Census.,Livro,1,1959.,NaN,"s.n.],",NaN,NaN
3,15,Verdade contra Freud /,NaN,Psicanálise.#$&Psicologia.,"Andrade, Almir de,",Livro,1,1933.,NaN,"Schmidt,",NaN,NaN
4,16,Historia de La U.R.S.S. :,época del socialismo (1917-1957) /,"União Soviética -#$&História -#$&Revolução, 1...",Academia de Ciências de La U.R.S.S.,Livro,1,1958.,NaN,"Editorial Grijalbo,",NaN,NaN

In [11]:
df_books.columns

Index(['registro_sistema', 'titulo', 'sub_titulo', 'assunto', 'autor',
       'tipo_material', 'quantidade', 'ano', 'edicao', 'editora', 'isbn',
       'issn'],
      dtype='object')

In [12]:
col_import = ['registro_sistema', 'titulo','sub_titulo' ,'assunto','tipo_material']
df_books = df_books[col_import]

In [13]:
df_books.head()

,registro_sistema,titulo,sub_titulo,assunto,tipo_material
0,1,Nordeste :,desenvolvimento sem justiça /,Politica social.#$&Região Nordeste (Br)#$&Soci...,Livro
1,5,Manual de Psicologia /,NaN,Psicologia.,Livro
2,14,Statistical Abstract Of The United States /,NaN,Estatística.#$&Estados Unidos.,Livro
3,15,Verdade contra Freud /,NaN,Psicanálise.#$&Psicologia.,Livro
4,16,Historia de La U.R.S.S. :,época del socialismo (1917-1957) /,"União Soviética -#$&História -#$&Revolução, 1...",Livro

# Dataset Exemplares

In [14]:
df_exemplares.head()

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
0,5,L000003_16/09/2024 12:25:45,Acervo de Desbaste,Biblioteca Central Zila Mamede,REGULAR,304(812/814) A168n,1
1,4,L000002_16/09/2024 12:24:24,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,304(812/814) A168n,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,304(812/814) A168n,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,159.9 A228m,5
4,9,L000040,Acervo de Desbaste,Biblioteca Central Zila Mamede,ESPECIAL,31(73) B79s,14

In [15]:
col_import = ['codigo_barras','registro_sistema']
df_exemplares = df_exemplares[col_import]

Juntando os dfs de livros em um só

In [16]:
df_livros = df_books.merge(df_exemplares, left_on='registro_sistema', right_on='registro_sistema', how='inner')

In [17]:
df_livros.head()

,registro_sistema,titulo,sub_titulo,assunto,tipo_material,codigo_barras
0,1,Nordeste :,desenvolvimento sem justiça /,Politica social.#$&Região Nordeste (Br)#$&Soci...,Livro,L000003_16/09/2024 12:25:45
1,1,Nordeste :,desenvolvimento sem justiça /,Politica social.#$&Região Nordeste (Br)#$&Soci...,Livro,L000002_16/09/2024 12:24:24
2,1,Nordeste :,desenvolvimento sem justiça /,Politica social.#$&Região Nordeste (Br)#$&Soci...,Livro,L000001
3,5,Manual de Psicologia /,NaN,Psicologia.,Livro,L000114
4,14,Statistical Abstract Of The United States /,NaN,Estatística.#$&Estados Unidos.,Livro,L000040

Livros que eu peguei

In [18]:
filtro = df_emp[df_emp['nome_usuario'] == "CARLOS EDUARDO MEDEIROS DA SILVA"]
codigos = filtro['codigo_barras'].values

for codigo in codigos:
    i = df_livros[df_livros['codigo_barras'] == codigo]
    print(f"Livro: {i['titulo'].values} : {i['sub_titulo'].values}")

Livro: ['Álgebra linear com aplicações /'] : [nan]
Livro: [] : []
Livro: ['JavaScript :'] : ['o guia definitivo /']
Livro: ['Álgebra linear e aplicações /'] : [nan]
Livro: ['Cálculo  /'] : [nan]
Livro: ['Álgebra linear e aplicações /'] : [nan]
Livro: ['Cálculo  /'] : [nan]

In [19]:
df_emp

,codigo_barras,nome_usuario,tipo_vinculo_usuario,matricula_ou_siape
0,2012067870,INGRID JUSTINO GOMES,ALUNO DE GRADUAÇÃO,2.020012e+10
1,2013114558,INGRID JUSTINO GOMES,ALUNO DE GRADUAÇÃO,2.020012e+10
2,2012036298,CAMILA ABDON MENEZES,ALUNO DE GRADUAÇÃO,2.020001e+10
3,2012036297,REBECA SILVA RIBEIRO CONFESSOR,ALUNO DE GRADUAÇÃO,2.018010e+10
4,2018008454,BEATRIZ CLAUDINO DA SILVA,ALUNO DE GRADUAÇÃO,2.020014e+10
...,...,...,...,...
36905,2015033090,MARIA IZABEL RIBEIRO CAVALCANTE DE OLIVEIRA,ALUNO DE PÓS-GRADUAÇÃO,2.024101e+10
36906,2016020182,ALLYSON DARLAN MOREIRA DA SILVA,ALUNO DE PÓS-GRADUAÇÃO,2.018102e+10
36907,L195936,CRISTIAN VIDEL BEZERRA TEIXEIRA,ALUNO DE GRADUAÇÃO,2.021005e+10
36908,L201674,CRISTIAN VIDEL BEZERRA TEIXEIRA,ALUNO DE GRADUAÇÃO,2.021005e+10
36909,2009038558,CRISTIAN VIDEL BEZERRA TEIXEIRA,ALUNO DE GRADUAÇÃO,2.021005e+10

In [20]:
df_livros

,registro_sistema,titulo,sub_titulo,assunto,tipo_material,codigo_barras
0,1,Nordeste :,desenvolvimento sem justiça /,Politica social.#$&Região Nordeste (Br)#$&Soci...,Livro,L000003_16/09/2024 12:25:45
1,1,Nordeste :,desenvolvimento sem justiça /,Politica social.#$&Região Nordeste (Br)#$&Soci...,Livro,L000002_16/09/2024 12:24:24
2,1,Nordeste :,desenvolvimento sem justiça /,Politica social.#$&Região Nordeste (Br)#$&Soci...,Livro,L000001
3,5,Manual de Psicologia /,NaN,Psicologia.,Livro,L000114
4,14,Statistical Abstract Of The United States /,NaN,Estatística.#$&Estados Unidos.,Livro,L000040
...,...,...,...,...,...,...
616149,302849,A modinha /,NaN,Modinha#$&Música popular.,Livro,2025011411
616150,302850,O cortiço :,texto integral /,Ficção brasileira.#$&Literatura brasileira.,Livro,2025002097
616151,302851,Java para iniciantes :,"crie, compile e execute programas java rapidam...",Java (Linguagem de programação de computador)....,Livro,2025011220
616152,302852,Formar para o mercado ou para a autonomia? :,o papel da universidade /,Professores -#$&Formação.#$&Ensino superior - ...,Livro,2025011194
616153,302855,História :,a arte de inventar o passado (ensaios de teori...,"Foucault, Michel,#$&Historiografia#$&História ...",Livro,2025004138

In [21]:
df = df_emp.merge(df_livros,on="codigo_barras",how="inner")

In [30]:
df

,codigo_barras,nome_usuario,tipo_vinculo_usuario,matricula_ou_siape,registro_sistema,titulo,sub_titulo,assunto,tipo_material
0,2012067870,INGRID JUSTINO GOMES,ALUNO DE GRADUAÇÃO,2.020012e+10,189680,Manual de fitopatologia /,NaN,Fitopatologia.#$&Fitopatologia -#$&Plantas.#$&...,Livro
1,2013114558,INGRID JUSTINO GOMES,ALUNO DE GRADUAÇÃO,2.020012e+10,182818,Nutrição mineral de plantas :,princípios e perspectivas /,Plantas -#$&Nutrição.,Livro
2,2012036298,CAMILA ABDON MENEZES,ALUNO DE GRADUAÇÃO,2.020001e+10,126087,Prótese total :,convencional e sobre implantes /,Prótese total.#$&Implantes dentários.,Livro
3,2012036297,REBECA SILVA RIBEIRO CONFESSOR,ALUNO DE GRADUAÇÃO,2.018010e+10,126087,Prótese total :,convencional e sobre implantes /,Prótese total.#$&Implantes dentários.,Livro
4,2018008454,BEATRIZ CLAUDINO DA SILVA,ALUNO DE GRADUAÇÃO,2.020014e+10,245138,Cirurgia oral maxilofacial contemporânea /,NaN,Cirurgia bucal.#$&Cirurgia maxilofacial.#$&Fac...,Livro
...,...,...,...,...,...,...,...,...,...
35524,2015033090,MARIA IZABEL RIBEIRO CAVALCANTE DE OLIVEIRA,ALUNO DE PÓS-GRADUAÇÃO,2.024101e+10,226893,Aprendizagem baseada em problemas (PBL) :,uma experiência no ensino superior /,Aprendizagem baseada em problemas (PBL)#$&Meto...,Livro
35525,2016020182,ALLYSON DARLAN MOREIRA DA SILVA,ALUNO DE PÓS-GRADUAÇÃO,2.018102e+10,76603,Sobre o nomadismo :,vagabundagens pós-modernas /,Nômades.#$&Grupos sociais.#$&Minorias.#$&Mudan...,Livro
35526,L195936,CRISTIAN VIDEL BEZERRA TEIXEIRA,ALUNO DE GRADUAÇÃO,2.021005e+10,64524,A arte da guerra /,NaN,Ciência militar.,Livro
35527,L201674,CRISTIAN VIDEL BEZERRA TEIXEIRA,ALUNO DE GRADUAÇÃO,2.021005e+10,73016,O principe :,comentado por Napoleão Bonaparte /,Ciência politica.#$&Etica politica.,Livro
35528,2009038558,CRISTIAN VIDEL BEZERRA TEIXEIRA,ALUNO DE GRADUAÇÃO,2.021005e+10,123275,A morte e a morte de Quincas Berro D'Água /,NaN,Ficção brasileira.#$&Literatura brasileira.,Livro

In [31]:
df['titulo_completo'] = df['titulo'].fillna('') + df['sub_titulo'].fillna('')

# Se quiser remover espaços extras
df['titulo_completo'] = df['titulo_completo'].str.strip()

In [33]:
df.drop(columns=['titulo','sub_titulo'],inplace=True)

In [34]:
df

,codigo_barras,nome_usuario,tipo_vinculo_usuario,matricula_ou_siape,registro_sistema,assunto,tipo_material,titulo_completo
0,2012067870,INGRID JUSTINO GOMES,ALUNO DE GRADUAÇÃO,2.020012e+10,189680,Fitopatologia.#$&Fitopatologia -#$&Plantas.#$&...,Livro,Manual de fitopatologia /
1,2013114558,INGRID JUSTINO GOMES,ALUNO DE GRADUAÇÃO,2.020012e+10,182818,Plantas -#$&Nutrição.,Livro,Nutrição mineral de plantas :princípios e pers...
2,2012036298,CAMILA ABDON MENEZES,ALUNO DE GRADUAÇÃO,2.020001e+10,126087,Prótese total.#$&Implantes dentários.,Livro,Prótese total :convencional e sobre implantes /
3,2012036297,REBECA SILVA RIBEIRO CONFESSOR,ALUNO DE GRADUAÇÃO,2.018010e+10,126087,Prótese total.#$&Implantes dentários.,Livro,Prótese total :convencional e sobre implantes /
4,2018008454,BEATRIZ CLAUDINO DA SILVA,ALUNO DE GRADUAÇÃO,2.020014e+10,245138,Cirurgia bucal.#$&Cirurgia maxilofacial.#$&Fac...,Livro,Cirurgia oral maxilofacial contemporânea /
...,...,...,...,...,...,...,...,...
35524,2015033090,MARIA IZABEL RIBEIRO CAVALCANTE DE OLIVEIRA,ALUNO DE PÓS-GRADUAÇÃO,2.024101e+10,226893,Aprendizagem baseada em problemas (PBL)#$&Meto...,Livro,Aprendizagem baseada em problemas (PBL) :uma e...
35525,2016020182,ALLYSON DARLAN MOREIRA DA SILVA,ALUNO DE PÓS-GRADUAÇÃO,2.018102e+10,76603,Nômades.#$&Grupos sociais.#$&Minorias.#$&Mudan...,Livro,Sobre o nomadismo :vagabundagens pós-modernas /
35526,L195936,CRISTIAN VIDEL BEZERRA TEIXEIRA,ALUNO DE GRADUAÇÃO,2.021005e+10,64524,Ciência militar.,Livro,A arte da guerra /
35527,L201674,CRISTIAN VIDEL BEZERRA TEIXEIRA,ALUNO DE GRADUAÇÃO,2.021005e+10,73016,Ciência politica.#$&Etica politica.,Livro,O principe :comentado por Napoleão Bonaparte /
35528,2009038558,CRISTIAN VIDEL BEZERRA TEIXEIRA,ALUNO DE GRADUAÇÃO,2.021005e+10,123275,Ficção brasileira.#$&Literatura brasileira.,Livro,A morte e a morte de Quincas Berro D'Água /

In [36]:
df.to_csv("database/database_for_graph/dataset.csv",sep=";",index=False)